body {
margin: 0;
padding: 0;
background: rgb(241, 23, 23);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
height: 100vh;
font-family: Arial, Helvetica, sans-serif;
}

header {
position: fixed;
top: 0;
padding: 5px;
align-items: center;
text-align: center;
background: #121212;
color: white;
width: 100vh;
font-size: 1rem;
font-weight: bold;
}

.yes-or-no {
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}

.yes-or-no .yes {
font-weight: bold;
margin-right: 5px;
background: rgb(132, 207, 132);
color: white;
font-size: 1rem;
border: 2px solid black;
border-radius: 8px;
padding: 5px;
text-transform: uppercase;
}

.yes-or-no .no {
margin-left: 5px;
font-weight: bold;
background: rgb(216, 106, 106);
color: white;
font-size: 1rem;
border-radius: 8px;
border: 2px solid black;
padding: 5px;
text-transform: uppercase;
}

h1 {
color: #fff;
}